@import url("normalize.css");

body {
	margin: 10px;
}
input {
	position: relative;
	z-index: 100;
}

.zombie {
	position: absolute;
	height: 24px;
	width: 24px;
	background: url(../img/skins/zombie.gif) center center no-repeat;
}
.zombie.right {
	background-position: center right;
}
.zombie.left {
	background-position: center left;
}
.zombie.angry {
	background-image: url(../img/skins/zombieAngry.gif);
}



.player {
	position: absolute;
	width: 7px;
	height: 7px;
	background:#F00;
}